<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newBurger="{{burger}}">
		{{#if eat}}EAT ME!{{else}}FINISHED{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
